@font-face {
  font-display: swap;
  font-family: SpoqaHanSansNeo;
  font-weight: 400;
  src: local("Spoqa Han Sans Neo Regular"),local("SpoqaHanSansNe-Regular"),url(../../resources/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Regular.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: SpoqaHanSansNeo;
  font-weight: 500;
  src: local("Spoqa Han Sans Neo Medium"),local("SpoqaHanSansNe-Medium"),url(../../resources/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Medium.woff2) format("woff2")
}

@font-face {
  font-display: swap;
  font-family: SpoqaHanSansNeo;
  font-weight: 700;
  src: local("Spoqa Han Sans Neo Bold"),local("SpoqaHanSansNe-Bold"),url(../../resources/fonts/SpoqaHanSansNeo/SpoqaHanSansNeo-Bold.woff2) format("woff2")
}