.sign-up {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-bottom: 96px;
  width: 100%;
}

.sign-up__skip-button {
  position: fixed;
  top: 8px;
  right: 8px;
  padding: 0 8px;
  height: 40px;
  color: #fff;
  font-size: 15px;
}

.sign-up-page {
  display: flex;
  padding: 0 24px;

  .sign-up-page__step {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background-color: #D9D9D9;

    & + .sign-up-page__step {
      margin-left: 4px;
    }

    &.sign-up-page__step--active {
      background-color: #F5144D;
    }
  }
}

.sign-up__title {
  margin-top: 32px;
  padding: 0 24px;
  line-height: 38px;
  color: #fff;
  font-size: 26px;
  font-weight: 700;
}

.sign-up-center {
  margin-top: 56px;
  padding: 0 24px;

  .sign-up-center__list {
    display: flex;
    flex-wrap: wrap;
  }

  .sign-up-center__item {
    margin: 0 10px 10px 0;
  }
  
  .sign-up-center__button {
    display: block;
    padding: 0 14px;
    line-height: 48px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    background-color: #2d2d2d;

    &.sign-up-center__button--active {
      box-shadow: inset 0 0 0 2px #F5144D;
    }

    &.sign-up-center__button--plus {
      min-width: 136px;
      
      &::before {
        content: '';
        display: inline-block;
        vertical-align: top;
        margin: 14px 8px 0 0;
        width: 20px;
        height: 20px;
        background: url(../../resources/images/pages/SignUp/icon-signup-plus.svg) no-repeat 0 0;
        background-size: 20px 20px;
      }
    }
  }
}

.sign-up-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  box-sizing: border-box;
  padding: 0 20px 20px;
  width: 100%;
  transition: transform 0.2s ease-out;
  background-color: #1e1f23;

  &.sign-up-bottom--active {
    transform: translateY(0);
  }

  .sign-up-bottom__button {
    display: block;
    width: 100%;
    height: 56px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 16px;
    background-color: #F5144D;
  }
}

//검색
.sign-up-search {
  padding: 8px 0;

  .sign-up-search__title {
    padding: 0 24px;
    line-height: 31px;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
  }

  .sign-up-search__box {
    padding: 24px 16px 8px;
  }
}

// 지역선택
.sign-up-area {
  padding: 51px 19px;

  .sign-up-area__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .sign-up-area__item {
      padding: 5px;
    }

    .sign-up-area__button {
      display: block;
      width: 100%;
      aspect-ratio: 1/1;
      color: #fff;
      font-size: 16px;
      font-weight: 500;
      border-radius: 16px;
      background-color: #2D2F34;

      &.sign-up-area__button--active {
        box-shadow: inset 0 0 0 2px #F5144D;
      }
    }
  }
}